openapi: 3.0.3
info:
  title: Fano Speech API
  description: |
    The Fano Speech API provides accurate and efficient speech recognition capabilities 
    with advanced features including multilingual support, speaker diarization, and 
    real-time transcription.
  version: "1.0.0"
  contact:
    name: Fano Support
    email: hello@fano.ai
    url: https://fano.ai
  license:
    name: Proprietary
servers:
  - url: https://api.fano.ai/v1
    description: Production server

security:
  - bearerAuth: []

tags:
  - name: Transcription
    description: Audio transcription endpoints
  - name: Streaming
    description: Real-time streaming transcription

paths:
  /transcribe:
    post:
      tags:
        - Transcription
      summary: Transcribe audio file
      description: Transcribe a pre-recorded audio file to text
      operationId: transcribeAudio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscribeRequest'
          audio/wav:
            schema:
              type: string
              format: binary
          audio/mpeg:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Successful transcription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscribeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /transcribe/{job_id}:
    get:
      tags:
        - Transcription
      summary: Get transcription status
      description: Get the status and result of an async transcription job
      operationId: getTranscriptionStatus
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          description: The job ID returned from the transcribe endpoint
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscribeStatusResponse'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: API key authentication using Bearer token

  schemas:
    TranscribeRequest:
      type: object
      properties:
        audio_url:
          type: string
          format: uri
          description: URL of the audio file to transcribe
          example: "https://example.com/audio.wav"
        audio_data:
          type: string
          format: byte
          description: Base64-encoded audio data
        language:
          type: string
          default: "auto"
          description: Language code or "auto" for automatic detection
          enum:
            - auto
            - en
            - zh-HK
            - zh-CN
            - ms
            - id
            - th
            - vi
            - fr
            - ar
        model:
          type: string
          default: "general"
          description: Speech recognition model to use
          enum:
            - general
            - telephony
            - meeting
            - broadcast
        punctuation:
          type: boolean
          default: true
          description: Enable automatic punctuation
        capitalize:
          type: boolean
          default: true
          description: Enable automatic capitalization
        diarization:
          type: boolean
          default: false
          description: Enable speaker diarization
        max_speakers:
          type: integer
          minimum: 1
          maximum: 8
          default: 2
          description: Maximum number of speakers to identify
        keywords:
          type: array
          items:
            type: string
          maxItems: 500
          description: List of keywords to boost recognition accuracy
          example: ["Fano", "speech API", "diarization"]
        keyword_boost:
          type: number
          minimum: 1.0
          maximum: 3.0
          default: 1.5
          description: Strength of keyword boosting
        word_timestamps:
          type: boolean
          default: false
          description: Include word-level timestamps in the response
        callback_url:
          type: string
          format: uri
          description: Webhook URL to receive results for async processing

    TranscribeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            transcript:
              type: string
              description: The full transcript text
              example: "Hello, this is a sample transcription."
            confidence:
              type: number
              minimum: 0
              maximum: 1
              description: Overall confidence score
              example: 0.95
            duration:
              type: number
              description: Audio duration in seconds
              example: 5.2
            detected_language:
              type: string
              description: Detected language code (when language is "auto")
              example: "en"
            words:
              type: array
              items:
                $ref: '#/components/schemas/Word'
              description: Word-level details (when word_timestamps is true)
            speakers:
              type: array
              items:
                $ref: '#/components/schemas/SpeakerSegment'
              description: Speaker segments (when diarization is true)
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'

    TranscribeStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            job_id:
              type: string
              example: "job_abc123"
            status:
              type: string
              enum:
                - pending
                - processing
                - completed
                - failed
              example: "completed"
            progress:
              type: number
              minimum: 0
              maximum: 100
              description: Processing progress percentage
              example: 100
            result:
              $ref: '#/components/schemas/TranscribeResponse'
            error:
              type: string
              description: Error message if status is "failed"

    Word:
      type: object
      properties:
        word:
          type: string
          description: The transcribed word
          example: "Hello"
        start:
          type: number
          description: Start time in seconds
          example: 0.0
        end:
          type: number
          description: End time in seconds
          example: 0.5
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Word confidence score
          example: 0.98

    SpeakerSegment:
      type: object
      properties:
        speaker_id:
          type: integer
          description: Speaker identifier
          example: 1
        start:
          type: number
          description: Segment start time in seconds
          example: 0.0
        end:
          type: number
          description: Segment end time in seconds
          example: 2.5
        text:
          type: string
          description: Transcript for this segment
          example: "Hello, this is speaker one."

    ResponseMetadata:
      type: object
      properties:
        request_id:
          type: string
          description: Unique request identifier
          example: "req_abc123xyz"
        processing_time_ms:
          type: integer
          description: Processing time in milliseconds
          example: 1234

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
              example: "INVALID_AUDIO_FORMAT"
            message:
              type: string
              description: Human-readable error message
              example: "The provided audio format is not supported"
            details:
              type: object
              additionalProperties: true
              description: Additional error details
